body {
  background-image: url("Graffiti Art_ Chief's Footwear.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
}
header {
  background: #222;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
header h1 {
  margin: 0;
}
nav {
  margin-top: 10px;
}
nav a {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
}
main {
  padding: 20px;
}
main a {
    color: #0066cc;
    text-decoration: none;
}
main a: hover {
     text decoration: underlne;
}
i.fab {
  margin-right: 8px;
  color: #3b5998; 
}
a[href*="instagram"] i {
  color: #e4405f;
}
.hero {
  background-color: transparent;
  padding: 100px 0;
  text-align: center;
  color: white;
}
.button {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
}
  .grid {
      display: flex;
      flex-wrap : wrap;
      justify-content : center;
      gap: 20px ;
      padding: 20px ;
    }
  .product {
      background-color: #1a1a1a;
      padding : 15px ;
      border-radius: 10px;
      text-align: center;
      width : 200px
      color : white ;
    }
.product img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin-top: 20px;
}
input, select, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.thank-you-message{
  display: none; 
  color: green; 
  margin-top: 20px;
}
.thank-you-message h2{
   color:#fff;
   font-size: 2rem;
  margin-bottom:0.5em;
}
.thank-you-message p{
   font-size: 1.1rem;
}
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
.carousel img {
  height: 500px;
  object-fit: auto;
  border-radius: 5px;
}

